<h1>About</h1>
<p>
  This app was built in Tal Safran's <%= link_to  "Ruby on Rails Class on Skillshare." , "https://www.skillshare.com/classes/Ruby-on-Rails-in-30-Days-Build-Your-First-Web-App/2136222497?via=search-layout-gridRuby" %>
</p>
