<h1>Welcome to the best page in the world</h1>

<p>
  This is the landing page for Crumblr, a baking blog made using ruby on rails
</p>

<p>
  This page is just a placeholder. Later on, we'll replace it with the post in our blog
  This page is just a placeholder. Later on, we'll replace it with the post in our blog

  This page is just a placeholder. Later on, we'll replace it with the post in our blog

  This page is just a placeholder. Later on, we'll replace it with the post in our blog

  This page is just a placeholder. Later on, we'll replace it with the post in our blog

  This page is just a placeholder. Later on, we'll replace it with the post in our blog

</p>
